@font-face {
    font-family: 'SansBold';
    src: url('../fonts/clearsans/clearsansbold.woff2') format('woff2'), url('../fonts/clearsans/clearsansbold.woff') format('woff'), url('../fonts/clearsans/clearsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sans';
    src: url('../fonts/clearsans/clearsans.woff2') format('woff2'), url('../fonts/clearsans/clearsans.woff') format('woff'), url('../fonts/clearsans/clearsans.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


* {position: relative;}

/*body h1, body h2, body h3, body h4 {*/
    /*color: #fff;*/
/*}*/
aside {width: 200px; position: absolute; left: 0; height: 100%; background: #000; color: #fff; tex}
aside #sidebg {width: 200px; position: absolute; top: 0; left: 0;}
aside h4 {
    font-family: "SansBold";
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}
aside .side-menu {z-index: 10;}
aside .side-menu a {display: block; width: auto; font-size: 16px; font-family: "Sans"; color: #fff; margin: 0 0 0 20px; padding: 8px 0;}

body {padding-left: 200px; background: #F1F1F1; font-family: 'Sans'; font-size: 13px; }

body hr {
    border-top: 1px solid #434857;
}
body .row {margin: 0;}
body .main-page {calc(100% - 0px) !important; padding: 0 10px;}





.list {
    background-color: #fff !important;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-right: 9px;
    max-height: 100%;
    max-width: 270px;
    width: calc(25% - 10px);
    position: relative;
    padding: 0 ;
}
.list .wrap h2
{
    font-family: "SansBold";
    font-size: 14px;
    padding: 0 4px;
    margin: 10px 4px;
}
.task {width: 100%; padding: 4px 0; padding: 12px 16px 12px 6px; border-top: 1px solid #e7e7e7}
.task:hover {background: #f7f7f7;}
.task .drag {background: url("http://seryak.ru/core/misc/draggable.png") top center; width: 13px; height: 13px; margin: 0 4px; cursor: move; }
.task-container {min-height: 40px;}

.task .title, .task .executor, .task .status, .task .date, .task .drag {
    display: inline-block;
}
/*.task .title {width: 60%;}*/
.task .executor {background: #78D384; border: 2px solid #363636; color: #363636; padding: 3px 10px;}
.task .status {background: #C897AB; color: #363636; padding: 3px 10px;}
.task .date {background: #E4FF61; color: #363636; padding: 3px 10px;}





.project_card {
  display: inline-block;
  width: 230px;
  height: 276px;
  position: relative;
  z-index: 0;
  padding: 0px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  overflow: hidden;
  border-radius: 3px;
  background: #FFF;
  -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.6), 0 2px 0 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.6), 0 2px 0 0 rgba(0,0,0,0.1);
  color: #222;
  margin: 0px 15px 30px 15px;
}
.project_card:hover {
  -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.6), 0 4px 0 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.6), 0 4px 0 0 rgba(0,0,0,0.1);  
  background: #FDFAFA;  
}


.project_card .name {
    padding: 11px 35px 5px 15px;
    font-family: "SansBold";
    font-size:16px;
}
.project_card a.link {
    position: absolute;
    width: 100%;
    height: 85%;
    left: 0;
    top: 0;
}
.project_card .description {
    margin: 20px 15px 0 15px;
    font-size: 14px;
}

.project_card .card_footer {
    padding: 10px 15px;
    background: #f7f7f7;
    border-top: 1px solid #E1E1E1;
    position: absolute;
    bottom: 0;
    width: 100%;
}