{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">
                        {% if company.id %}
                            {{ company.name }}
                        {% else %}
                            Компании
                        {% endif %}
                    </h1>
                    <div class="inline">
                        {% if company.id %}
                            <a href="/admin/company/{{ company.id }}/requisites">реквизиты</a>
                        {% else %}
                            <a href="/admin/company">все компании</a>
                        {% endif %}

                    </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if company.id %}
                    action="/api/company/{{ company.id }}"
                    {% else %}
                    action="/api/company"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-4 .col-md-offset-1">
                    <div class="form">

                            <input type="text" class="form-login" name="name" placeholder="Название компании" value="{{ company.name }}">
                            <input type="text" class="form-login" name="adress" placeholder="Адрес компании" value="{{ company.adress }}">
                            <button class="blue-button" type="submit">Добавить</button>

                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="form">
                            <textarea name="description" rows="8">{{ company.description }}</textarea>
                    </div>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->



{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}