{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Лид </h1>
                    <div class="inline"> <a href="/admin/lead/{{ lead.id }}/task"> Создать задачу</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form method="post"
                    {% if lead.id %}
                        action="/api/lead/{{ lead.id }}"
                    {% else %}
                    action="/api/lead"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-5">
                    <div class="form">

                            <input type="text" class="form-login" name="name" placeholder="Название лида" value="{{ lead.name }}">
                            <input type="text" class="form-login" name="phone" placeholder="Номер телефона" value="{{ lead.phone }}">
                            <input type="text" class="form-login" name="mail" placeholder="Электронная почта" value="{{ lead.mail }}" />
                            <input type="text" class="form-login" name="web" placeholder="Адрес сайта" value="{{ lead.web }}" />
                            <input type="text" class="form-login" name="company" placeholder="Название компании" value="{{ lead.company }}" />
                            <select name="tags[]" class="form-login chosen-select" multiple="multiple" data-placeholder="Выбрать теги">
                                <option value="вебтолк" {% if 'вебтолк' in tags %} selected {% endif %} >вебтолк</option>
                                <option value="кайпромо" {% if 'кайпромо' in tags %} selected {% endif %} >кайпромо</option>
                                <option value="архив" {% if 'архив' in tags %} selected {% endif %} >архив</option>
                                <option value="отказ" {% if 'отказ' in tags %} selected {% endif %} >отказ</option>
                            </select>

                            {% if lead.id %}
                                Стал клиентом ? <input class="form-login" type="checkbox" {% if lead.client == 1 %} checked="checked" {% endif %}   name="client" />
                            {% endif %}

                            <button class="blue-button inline" type="submit">Добавить</button>
                            {% if lead.id %}
                                <a class="inline" href="/api/delete/lead/{{ lead.id }}"><div class="red-button inline">Удалить лид</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="form">
                            <textarea name="description" rows="8">{{ lead.description }}</textarea>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}