{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Люди </h1>
                    <div class="inline"> <a href="/admin/people"> + новый человек </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table peoples table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Email</th>
                            <th>Компания</th>
                            <th>Должность</th>
                            <th>День рождения</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for people in peoples %}
                            <tr>
                                <td><a href="/admin/people/{{ people.id }}">{{ people.name }} </a></td>
                                <td>{{ people.phone }} </td>
                                <td>{{ people.mail }} </td>
                                {% for company in companies %}
                                    {% if company.id == people.company_id %} <td> {{ company.name }} </td> {% endif %}
                                {% endfor %}
                                <td> {{ people.job_title }} </td>
                                <td>{{ people.birthday }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}