{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Человек </h1>
                    <div class="inline"> <a href="/admin/peoples">все люди</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if people.id %}
                    action="/api/people/{{ people.id }}"
                    {% else %}
                    action="/api/people"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-5">
                    <div class="form">

                            <input type="text" class="form-login" name="name" placeholder="ФИО Человека" value="{{ people.name }}">
                            <input type="text" class="form-login" name="phone" placeholder="Номер телефона" value="{{ people.phone }}">
                            <input type="text" class="form-login" name="mail" placeholder="Электронная почта" value="{{ people.mail }}" />
                            <input type="text" class="form-login date" name="birthday" placeholder="Дата рождения" value="{{ people.birthday }}" />
                            <input type="text" class="form-login" name="job_title" placeholder="Должность" value="{{ people.job_title }}" />

                            <select name="company_id" class="form-login chosen-select" data-placeholder="Выбрать компанию">
                                {% for company in companies %}
                                    <option value="{{ company.id }}" {% if people.company_id == company.id %} selected {% endif %} >{{ company.name }}</option>
                                {% endfor %}
                            </select>

                            <button class="blue-button inline" type="submit">Добавить</button>
                            {% if people.id %}
                                <a class="inline" href="/api/delete/people/{{ people.id }}"><div class="red-button inline">Удалить человека</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="form">
                            <textarea name="description" rows="8">{{ people.description }}</textarea>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}