{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-3">
                    <div id="admin-menu">
                        <ul>
                            <li><a href="/admin/projects">Проекты </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <h1 class="inline project-name">{{ project.name }} </h1>
                    <form>
                        <div class="form-group">
                            <label for="name">Название задачи</label>
                            <input type="text" class="form-control" id="name" value="{{ project.name }}">
                        </div>
                        <input type="hidden" id="id" value="{{ project.id }}">
                        <div class="btn btn-default edit" data-type="" data-taskid="">Сохранить</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}


{% block scripts %}
    <script src="/views/admin/admin.js"></script>
{% endblock %}