{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Все пользователи </h1>
                    <div class="add-users inline"> + новый пользователь </div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 project-list">
                        {% for project in projects %}
                            <div id="{{ project.id }}" class="project_card">
                                <div class="name">{{ project.name }}</div>
                                <div class="description">{{ project.description }} </div>
                                <a class="link" href="/project/{{ project.id }}"> </a>
                                {# <a href="/admin/project/{{ project.id }}"> </a> #}
                                <div class="card_footer"> <a>Изменить </a> </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="col-md-4 .col-md-offset-1">
                    <div class="plitka-form">
                        <form method="post" name="login_form" action="/api/user">
                            <input type="text" class="form-login" name="login" placeholder="Ваш логин">
                            <input type="text" class="form-login" name="pass" placeholder="Ваш пароль">
                            <input type="text" class="form-login" name="pass2" placeholder="Повторите пароль" />
                            <input type="text" class="form-login" name="mail" placeholder="Ваш E-mail" />
                            <input type="checkbox" name="client"> Клиент
                            <button type="submit">Добавить</button>
                        </form>    
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}