<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/views/slate/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/custom.css">
    <link rel="stylesheet" href="/views/remodal.css">
    <link rel="stylesheet" href="/views/remodal-default-theme.css">


    <link rel="stylesheet" href="/views/slate/my.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/slate/pickmeup.css">
    <link rel="stylesheet" href="/views/slate/chosen.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/fileUploader.css" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>


    <script src="/views/fileUploader.min.js"></script>
    <script src="/views/dropzone.js"></script>
    <script src="/views/slate/jquery.binding.js"></script>
    <script src="/views/slate/chosen.jquery.min.js"></script>
    <script src="/views/slate/pickmeup.min.js"></script>
    <script src="/views/slate/custom.js"></script>
    <script src="/views/remodal.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->

</head>

<body>
<aside><img id="sidebg" src="/views/slate/wallpaper.jpg">
    <h4>CRM.wtolk </h4><hr>
    <div class="side-menu">
        <a href="/admin/tasks">Задачи </a>
        <a href="/admin/leads">Лиды </a>
        <a href="/admin/company">Компании </a>
        <a href="/admin/peoples">Люди </a>
        <a href="/admin/deals">Сделки </a>
        <a href="/api/logout">Выйти </a>
        {#<a href="/admin/reports">Отчеты </a>#}
        {#<a href="/admin/users">Пользователи </a>#}

    </div>
</aside>
<div class="main-page">
{% block content %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">










            </div>
        </div>
        <!-- /#page-content-wrapper -->
{% endblock %}
</div>
    <!-- /#wrapper -->


{% block scripts %}
{% endblock %}
</body>

</html>