{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h1 class="inline project-name" data-project-id="{{project.id}}"><a href="/project/{{ project.id }}">{{ project.name }}</a> </h1>
            <hr class="aky">
        </div>
    </div>
    <div class="row">
        <table>
            {% for log in logs %}
                {#<div class="col-sm-12 list" data-id="{{ list.id }}" id="listid-{{ list.id }}">#}
                {#<div class="wrap">#}
                {#<h2>{{ list.name }} </h2>#}
                {#<div class="task-container">#}
                {#{% for task in list.tasks %}#}
                {#<div class="task" id="{{ task.id }}"><div class="drag"> </div> <div class="title">{{ task.name }} </div> #}{# <div class="executor"> Миша Серяк </div> <div class="date">Создана: {{ task.created_date }} </div>#}{# </div>#}
                {#{% endfor %}#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <tr><td>{{ log.date }} - </td><td> {{ log.message }}</td> </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/custom.js"></script>
{% endblock %}
