{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h1 class="inline project-name" data-project-id="{{project.id}}"><a href="/project/{{ project.id }}">{{ project.name }}</a> </h1>
            <div class="addtask inline"> + задача </div>
            <hr class="aky">
        </div>
    </div>
    <div class="row">
        {% for list in lists %}
            <div class="col-sm-3 list" data-id="{{ list.id }}" id="listid-{{ list.id }}">
                <div class="wrap">
                    <h2>{{ list.name }} </h2>
                    <div class="task-container">
                        {% for task in list.tasks %}
                            <div class="task" id="{{ task.id }}"><div class="drag"> </div> <div class="title">{{ task.name }} </div> {# <div class="executor"> Миша Серяк </div> <div class="date">Создана: {{ task.created_date }} </div>#} </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="popup popup-task">
        <div class="form">
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Что нибудь сделать">
            </div>
            <div class="form-group">
                <label for="list">Этап</label>
                <select class="form-control" id="list">
                    {% for list in lists %}
                        <option value="{{ list.id }}">{{ list.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group comments-section">
                <label>Комментарии</label>
                <textarea id="comment-form" class="form-control"></textarea>
                <div class="btn btn-default comment" data-taskid="">Добавить</div>
            </div>
            <div class="btn btn-default add" data-type="" data-taskid="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </div>

        <div class="aside">
            <div class="form-group files-section">
                <label for="name">Загрузка файила</label>

                <div class="fileUploader" id="one!!"></div>
                <form action="/api/file" id="drop" class="dropzone">
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <input class="card_id" type="hidden" name="card_id" value="">
                    {# <div id="drop" class="dropzone"></div> #}
                </form>
                {#<div class="btn btn-default upload">Загрузить</div>#}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="/views/custom.js"></script>
{% endblock %}
