{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">
                        {% if task.id %}
                            {{ task.name }}
                        {% else %}
                            Создание задачи
                        {% endif %}
                    </h1>
                    <div class="inline">
                            <a href="/admin/lead/{{ lead.id }}"> перейти к лиду : {{ lead.name }}</a>
                    </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    {% if task.id %}
                    action="/api/task/{{ task.id }}"
                    {% else %}
                    action="/api/task"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-6">
                    <div class="form">
                            <input type="text" class="form-login" name="name" placeholder="Название задачи" value="{{ task.name }}">
                            <input type="hidden" class="form-login" name="lead_id" value="{{ task.lead.id }}">
                            <div class="form">
                                <textarea placeholder="Описание задачи" name="description" rows="3">{{ task.description }}</textarea>
                            </div>
                            <input type="text" class="form-login datetime" name="date" placeholder="Дата выполнения" value="{{ task.date }}">
                            <button class="blue-button inline" type="submit">
                                {% if task.id %} Сохранить {% else %} Добавить {% endif %}
                            </button>
                            {% if task.id %}
                                <a class="inline" href="/api/delete/task/{{ task.id }}"><div class="red-button inline">Удалить задачу</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="info"> Имя: {{ task.lead.name }} </div>
                    <div class="info"> {{ task.lead.description }} </div>
                    <div class="info"> Телефон: {{ task.lead.phone }} </div>
                    <div class="info"> Почта: {{ task.lead.mail }} </div>

                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->



{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}