{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Задачи  </h1>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table leads table-striped">
                        <thead>
                            <tr>
                                <th>Лид</th>
                                <th>Задача</th>
                                <th>Дата выполнения</th>
                                <th>Описание</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.lead.name}}</td>
                                <td><a href="/admin/task/{{ task.id }}">{{ task.name }} </a></td>
                                <td>{{ task.date|date('d-m-Y в H:i') }} </td>
                                <td>{% if task.description|length > 2 %} <span class="show-desc" data-id="{{ task.id }}"> посмотреть </span>
                                <div class="description description-{{ task.id }}">{% markdown %} {{ task.description }} {% endmarkdown %}</div> {% endif %}
                                </td>
                                <td><a href="/admin/lead/{{ task.lead.id }}">Перейти к лиду </a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}